<div class="row  exito" style="padding:50px 20px; background-color: black;">
    <div class="col-12">
        <h2 style="text-align: center;margin-bottom:0; font-weight: 700;">Oh oh.... No se pudo efectuar el pago</h2>
        <p style="font-size: 1.4em;">Vuelve a intentarlo por favor.</p>
        <p style="text-align:center"><iframe src="https://giphy.com/embed/a5MbLFYonqYgg" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></p>
    </div>


    
    
    <div class="col-12 datos">
        <button class="btn btn-outline-light" routerLink="home">Volver</button>
    </div>
</div>
